body{
	position: absolute;
	display: block;
	background-image: url("../static/images/toonMap.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	z-index: 1;
}
