<!DOCTYPE html>
<html>
    <head>
        <title>Rider Sharer </title>
        <link rel="stylesheet" media="screen, print, handheld" type="text/css" href="../css/calendar.css" />
        <script type="text/javascript" src="../js/calendar.js"></script>
    </head>
	
    <body>

		<div id="my-calendar"></div>  
         <script type="text/javascript">
			var d = new Date();

            //create the calendar with the given data passed to it
            calendar(d.getMonth(), d.getFullYear(), {{day_num}}, {{month_num}}, {{year_num}}, {{depart_city|safe}}, {{depart_time|safe}}, {{arrive_city|safe}});
         </script>
    </body>
</html>