{% extends "base.html" %}
{% block content %}

{% if user %}
Hello, {{user.email}}!  Click <a href="{{logout}}">here</a> to log out.
<br><br>
<a href="/post">Post a new ride</a>
<form action="/list_rides">
    <input type="submit" value="Return to Calendar">
</form>
<br><br>There are {{posts|length}} posts.<br><br>
{% for post in posts %}
<div class="message">

On <span class="time">{{post.formatted_time}}</span>, {{post.user}} said:<br><br>

Departure City: <span class="subject">{{post.depart}}</span><br>

Arrival City: <span class="subject">{{post.arrive}}</span><br>

Depature Time: <span class="subject">{{post.timeofdepart}}</span><br>

Number of available seats: <span class="subject">{{post.seats}}</span><br>

<!--<a href="/user_detail?user={{post.user}}">This is a link</a>-->
<div class="messagetext">{{post.message_text}}</div>
</div>

{% endfor %}
{% else %}
Click <a href="{{login}}">here</a> to log in.
{% endif %}

{% endblock %}