<!DOCTYPE html>

<!-- NEED TO ADD HOW YOU WANT TO SPLIT COST-->

<html>
<head>
  <link rel="stylesheet" media="screen, print, handheld" href="../css/infoformstyle.css">
  <title>Information</title>
</head>
<body>
<div class = "backgroundImg"></div>
<div class = "content">
  <form action="demo_form.asp">
  
    <div class="contact">
    Contact Information:<br><br>
    First name: <input type="text" name="fname"><br><br>
    Last name: <input type="text" name="lname"><br><br> 
    Phone Number: <input type="text" name="phonenunber"><br><br> 
    E-mail: <input type="text" name="email"><br><br>
    Prefered Contact Method: <br>
    <input type="checkbox" name="prefer_contact" value="Phone"> Phone<br>
    <input type="checkbox" name="prefer_contact" value="Text"> Text<br>
    <input type="checkbox" name="prefer_contact" value="Email"> Email<br><br><br>
    </div>

    <div class="car">
    Car Information: <br><br> 
    Model: <input type="text" name="model"><br><br>
    Year: <input type="text" name="year"><br><br>
    Amount of Available Seats: <input type = "number" name = "availseats"><br><br>
    What city are you leaving from? <input type="text" name="departcity"><br><br>
    What city are you going to? <input type="text" name="arrivecity"><br><br>
    What time are you leaving? <input type="time" name="usr_time"><br><br><br>
    </div>

    <div class="depart">
    Departing Location:<br><br>
    Address: <input type = "text" name = "depart_address"><br>
    City: <input type = "text" name = "depart_city"><br>
    State: <input type = "text" name = "depart_state"><br>
    Zip: <input type = "text" name = "depart_zip"><br><br>
    </div>

    <div class="arrive">
    Arriving Location:<br><br>
    Address: <input type = "text" name = "arrive_address"><br>
    City: <input type = "text" name = "arrive_city"><br>
    State: <input type = "text" name = "arrive_state"><br>
    Zip: <input type = "text" name = "arrive_zip"><br><br><br>
    </div>

    <div class="cost">
    Do you want to do split the total cost or charge a flat cost? <br>
  	<input type="checkbox" name="cost_type" value="split"> Split Cost<br>
    <input type="checkbox" name="cost_type" value="flat"> Flat Cost<br><br>
    <center><input id="submit" type="submit" value="Submit"></center>
    </div>
<!--<form method = "post" action = "/processform2">-->
  </form>
</div>
</form>
</body>
</html>
