<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <title>Ride Sharer</title>

  <link rel="stylesheet" media="screen, print, handheld" type="text/css" href="../static/MainPage.css" />

</head>

<body>
	<form action = "/calendar">
	  <div class="body"></div>
			<div class="grad"></div>
			<div class="header">
				<div>Ride<span>Sharer</span></div><br>

				<div class="description"> Share a ride. Save a buck. Make a friend.<vw></div>

			</div>
			<br>
			<div class="login">
					<br><br><button type="submit">Login</button>
			</div>
	</form>
	  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

</html>