<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<html>
	<head>
		<script src="../static/bootstrap/js/jquery-2.1.3.js"></script>

	 	<!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" media="screen, print, handheld" href="../static/bootstrap/css/bootstrap.min.css">

	    <!-- Optional theme -->
	    <link rel="stylesheet" media="screen, print, handheld" href="../static/bootstrap/css/bootstrap-theme.min.css">

	    <!-- Latest compiled and minified JavaScript -->
	    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

	    <!-- Created Style sheet -->
	    <link rel="stylesheet" media="screen, print, handheld" href="../css/myRides.css">

	    <title>Ride Sharer</title>
	</head>

	<body>
		<br>
		
		<br>
		<div class="panel panel-default col-md-10 col-md-offset-1" id='mainPanel'>

			<div class="panel-heading">My Rides</div>
			<div class="panel-body">

				<br><br>

				<label>Rides you have posted:</label><br><br>

				{% if  postedRide %}

					{% for post in posts %}

						<li class="list-group-item list-group-item-info">

						<span class="time">On {{post.formatted_time}}, you said:</span><br><br>
						<div class="message">

							Departure: 
								<div class = 'info_to_tab'>
									Address: {{post.depart_address}} <br>
									City: {{post.depart_city}} <br>
									State: {{post.depart_state}} <br>
					             	Zip: {{post.depart_zip}} <br>
								</div><br>

							Arrival:
								<div class = 'info_to_tab'>
									Address: {{post.arrive_address}} <br>
									City: {{post.arrive_city}} <br>
									State: {{post.arrive_state}} <br>
					             	Zip: {{post.arrive_zip}} <br> 
								</div><br>
							Car Information:
								<div class = 'info_to_tab'>
									Model: {{post.car_model}}<br>
									Year: {{post.car_year}}
								</div><br>

							Number of available seats: <span class="subject" id="numSeats">{{post.numSeats}}</span><br>

							Time of departure: {{post.depart_time}}<br>
							<!--<a href="/user_detail?user={{post.user}}">This is a link</a>-->
							Your Message: {{post.message}}
						</div>
						</li>

						<br>

					{% endfor %}

				{% else %}
					<div class="info_to_tab">None</div>
				{% endif %}


				<br><label>Seats you have reserved:</label><br><br>

				{% if  reserved %}
					{% for ride in reservedRide %}
						<li class="list-group-item list-group-item-info">

						<span class="time">On {{ride.formatted_time}}, {{post.nickname}} said:</span><br><br>
						<div class="message">

							Departure: 
								<div class = 'info_to_tab'>
									Address: {{ride.depart_address}} <br>
									City: {{ride.depart_city}} <br>
									State: {{ride.depart_state}} <br>
					             	Zip: {{ride.depart_zip}} <br>
								</div><br>

							Arrival:
								<div class = 'info_to_tab'>
									Address: {{ride.arrive_address}} <br>
									City: {{ride.arrive_city}} <br>
									State: {{ride.arrive_state}} <br>
					             	Zip: {{ride.arrive_zip}} <br> 
								</div><br>
							Car Information:
								<div class = 'info_to_tab'>
									Model: {{ride.car_model}}<br>
									Year: {{ride.car_year}}
								</div><br>

							Number of available seats: <span class="subject" id="numSeats">{{ride.numSeats}}</span><br>

							Time of departure: {{ride.depart_time}}<br>
							<!--<a href="/user_detail?user={{ride.user}}">This is a link</a>-->
							Message from {{post.nickname}}: {{ride.message}}
						</div>
						</li>

						<br>

					{% endfor %}

				{% else %}
					<div class="info_to_tab">None</div>
				{% endif %}

			</div> <!-- close panel body -->
		</div><!--  Close panel -->
	</body>
</html>
{% endblock %}