<!DOCTYPE html>

<!-- NEED TO ADD HOW YOU WANT TO SPLIT COST-->

<!-- {% extends "base.html" %} -->
{% block content %}

{% if user %}
<div class="logout">Hello, {{user.nickname}}!  Click <a href="{{logout}}">here</a> to log out.</div>

<html>
    <head>
        <script src="../static/bootstrap/js/jquery-2.1.3.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="screen, print, handheld" href="../static/bootstrap/css/bootstrap.min.css">      

        <!-- Optional theme -->
        <link rel="stylesheet" media="screen, print, handheld" href="../static/bootstrap/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>

        <!-- Created style sheet -->
        <link rel="stylesheet" media="screen, print, handheld" href="../css/postRides_CSS.css">

        <title>Rider Sharer</title>
    </head>



    <body>
         <br><br>
         <div class="backgroundImg"></div>
         <div id="mainPanel" class="panel panel-default col-md-10 col-md-offset-1">

            <div class="panel-heading">Post a ride for {{month}} {{day}}, {{year}}</div>

            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#tripInfo" role="tab" data-toggle="tab">Trip Information</a></li>
                  <!-- <li><a href="#contactInfo" role="tab" data-toggle="tab">Contact Information</a></li> -->
                  <li><a href="#carInfo" role="tab" data-toggle="tab">Car and Cost Information</a></li>
                </ul>


                <!-- Tab panes -->
                <div class="tab-content">

                    <!-- Trip Infomation tab -->
                    <div class="tab-pane active" id="tripInfo">
                        <br>
                        <form method="post" action="/saveRide">
                        <input type="hidden" value={{month}} name = 'month' id='month'>
                        <input type="hidden" value={{day}} name = 'day' id='day'>
                        <input type="hidden" value={{year}} name = 'year' id='year'>

                        <div class="info">
                            <br><b>Departing From:</b><br><br>
                            <label>Address:</label>  <input class = "input_text_box" type = "text" id="depart_address" name = "depart_address"><br><br>
                            <label>City:</label>     <input class = "input_text_box" type = "text" id="depart_city" name = "depart_city"><br><br>
                            <label>State:</label>    <input class = "input_text_box_small" type = "text" id="depart_state" name = "depart_state">
                            <label>Zip:</label>      <input class = "input_text_box_small" type = "text" id="depart_zip" name = "depart_zip"><br><br>
                            <label>Departure Time:</label>         <input class = "input_text_box_small" type = "text" id="depart_time" name = "depart_time"><br><br>
                        </div>

                        <div class="info">
                            <br><br><b>Arriving To:</b><br><br>
                            <label>Address:</label>  <input class = "input_text_box" type = "text" id="arrive_address" name = "arrive_address"><br><br>
                            <label>City:</label>     <input class = "input_text_box" type = "text" id="arrive_city" name = "arrive_city"><br><br>
                            <label>State:</label>    <input class = "input_text_box_small" type = "text" id="arrive_state" name = "arrive_state">
                            <label>Zip:</label>      <input class = "input_text_box_small" type = "text" id="arrive_zip" name = "arrive_zip"><br><br><br>
                        </div>
                        <label>Please continue to the next tab.</label>
                    </div>


                        <!-- Contact Info Tab -->
                        <!-- <div class="tab-pane" id="contactInfo">
                            <br><br>
                            <div class="info">
                                <label>First name:</label>    <input class = "input_text_box_small" type="text" name="fname">
                                <label>Last name:</label>     <input class = "input_text_box_small" type="text" name="lname"><br><br>
                                <label>Phone Number:</label>  <input class = "input_text_box" type="text" name="phonenunber"><br><br>
                                <label>E-mail:</label>        <input class = "input_text_box" type="text" name="email"><br><br>
                                <label>Prefered Contact Method:</label>
                                <input class="check_box" type="checkbox" name="prefer_contact" value="Phone"> Phone
                                <input class="check_box" type="checkbox" name="prefer_contact" value="Text"> Text
                                <input class="check_box" type="checkbox" name="prefer_contact" value="Email"> Email<br><br><br>
                            </div>
                            <label>Please continue to the next tab.</label>

                        </div> -->

                        <!-- Car and Cost Info tab -->
                    <div class="tab-pane" id="carInfo">
                        <br><br>
                        <div class="info">
                            <label>Model:</label>                     <input class = "input_text_box_small" type="text" id="car_model" name="car_model"><br><br>
                            <label>Year:</label>                      <input class = "input_text_box_small" type="text" id="car_year" name="car_year"><br><br>
                            <label>Available Seats:</label> <input class = "input_text_box_small" type = "number" id="numSeats" name = "numSeats"><br><br>
                        </div>
                        <!-- <div class="info">
                            Do you want to do split the total cost or charge a flat cost?
                            <input class="check_box" type="checkbox" name="cost_type" value="split"> Split Cost
                            <input class="check_box" type="checkbox" name="cost_type" value="flat"> Flat Cost<br><br>
                        </div> -->
                        <div class="info">
                            <label>Message for other riders:</label><br><br><textarea rows="8"  id="message" cols="100" name="message"></textarea>
                            <!-- <br><br><input id="submit" type="submit" value="Post Ride" onclick="sendPost();"> -->
                            <br><br><input id="submit" type="submit" value="Post Ride">
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>

        {% else %}
        Click <a href="{{login}}">here</a> to log in.
        {% endif %}
        {% endblock %}

    </body>
</html>